@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../../../node_modules/bulma/css/bulma.min.css';

/* Variáveis */
:root {
    --featured: #111231 !important;
    --featured-dark: #1E1D35 !important;
    --secondary: #B88A34 !important;
    --dark: #222222 !important;
    --darker: #333333 !important;
    --dark-medium: #555555 !important;
    --dark-low: #777777 !important;
    --light-low: #ddd !important;
    --light-medium: #F7FCF6 !important;
    --light: #fff !important;

    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'Libre Baskerville', serif;

    --font-size-one: 4.0rem;
    --font-size-two: 3.5rem;
    --font-size-three: 3.0rem;
    --font-size-four: 2.5rem;
    --font-size-five: 2.0rem;
    --font-size-six: 1.5rem;
    --font-size-seven: 1.0rem;
    --font-size-eight: 0.8125rem;
    --font-size-nine: 0.625rem;
  }

  /* Estilo Global */

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: var(--font-size-seven);
}

.main {
  width: 100%;
}
/* Componente - NavbarInfo */

.navbar-info {
  width: 100%;
  height: 30px;
}

.content-navbar-info {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-infos {
  width: 60%;
  height: 100%;
  display: flex;
}
.box-info {
  margin-right: 30px;
}
.box-info i {
  font-size: var(--font-size-eight);
  margin-right: 5px;
  color: var(--featured);
}
.box-info a {
  font-size: var(--font-size-eight);
  color: var(--featured);
}
.box-info a:hover {
  color: var(--secondary);
}

.box-social i {
  color: var(--featured);
  margin-left: 20px;
}
.box-social i:hover {
  color: var(--secondary);
}

/* Componente - Navbar */

.navbar {
  height: 70px;
}

/* Componente - Hero */

.lm-hero-bg {
  background-image: url('../img/bg-hero.png');
  background-size: cover;
  background-position: center;
}

.lm-box-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 60px 0px;
}

.lm-box-hero > .title{
  font-size: var(--font-size-one);
  padding: 40px 0px 60px 0px;
  color: var(--light);
  font-family: var(--font-secondary);
}

.lm-box-hero > .subtitle{
  font-size: var(--font-size-seven);
  padding: 0px 0px 40px 0px;
  color: var(--light-medium);
  font-family: var(--font-main);
  line-height: 1.8rem;
  max-width: 800px;
  margin: auto;
}

.lm-box-hero >.lm-btn {
  border: 0;
  width: 250px;
  margin: auto;
  border-radius: 30px;
  font-size: var(--font-size-seven);
  color: var(--light);
  background-color: var(--secondary);
}

.lm-box-hero >.lm-btn:hover {
  color: var(--secondary);
  background-color: var(--featured-dark);
}

/* Componente - SectionTitle */

.lm-section-title {
  width: 100%;
  background: linear-gradient(90deg, var(--featured), var(--featured-dark));
}
.lm-title {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lm-title h3 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-six);
  color: var(--light);
  text-align: center;
}
.lm-title h3::before {
  content: url('../img/icon-title.svg');
  display: block;
}

.lm-section-title-secondary {
  width: 100%;
}
.lm-title-secondary {
  padding: 0px 0px 70px 0px;
}
.lm-title-secondary h3 {
  text-align: center;
  font-family: var(--font-secondary);
  font-size: var(--font-size-six);
  color: var(--darker);
  font-weight: 900;
  padding-bottom: 20px;
}
.lm-title-secondary p {
  text-align: center;
  margin: auto;
  max-width: 700px;
  font-weight: 100;
  line-height: 1.8rem;
}
.lm-title-secondary p::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  margin: 20px auto 0px;
  background-color: var(--secondary);
}

/* Componente - SectionAbout */
.lm-about {
  width: 100%;
  height: 100%;
}
.lm-content-about {
  padding: 70px 0px;
  text-align: center;
}

.lm-content-about h3 {
  font-family: var(--font-secondary);
  color: var(--darker);
  font-size: var(--font-size-six);
  max-width: 700px;
  display: block;
  margin: auto;
  padding-bottom: 40px;
  font-weight: 900;
}

.lm-content-about p {
  color: var(--dark-medium);
  line-height: 1.8rem;
  max-width: 750px;
  margin: auto;
  padding-bottom: 60px;
}

.lm-content-about > .lm-btn {
  padding: 7px 30px;
  background-color: var(--secondary);
  border-radius: 30px;
  text-transform: uppercase;
  color: var(--light);
} 
.lm-content-about > .lm-btn:hover {
  background-color: var(--featured-dark);
  color: var(--secondary);
}

/* Componente - occupation-area */

.lm-occupation-area {
  width: 100%;
  height: 100%;
  background-color: var(--light-medium);
  padding: 70px 0px;
}

.lm-box-item {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  padding: 40px 0px;
}

.lm-box-item > .icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: var(--featured-dark);
  transition: 0.5s;
}
.lm-box-item:hover > .icon {
  box-shadow: 0 0 0 400px var(--featured-dark);
  background-color: var(--featured-dark);
  transition: 0.5s;
}
.lm-box-item > .lm-content-item {
  z-index: 1000;
  position: relative;
  transition: 0.5s;
}
.lm-box-item:hover > .lm-content-item {
  color: var(--light-low);
  transition: 0.5s;
}

.lm-content-item h4 {
  padding: 20px 0px 20px 0px;
  font-size: var(--font-size-seven);
  font-weight: bold;
}
.lm-content-item p {
  font-size: var(--font-size-eight);
  max-width: 70%;
  margin: auto;
  line-height: 1.8rem;
  padding-bottom: 20px;
} 
.lm-content-item a {
  text-transform: uppercase;
  color: var(--secondary); 
}
.lm-content-item a:hover {
  text-transform: uppercase;
  color: var(--light); 
}

/* Componente - BlockQuote */
.lm-block-quote {
  width: 100%;
  background-image: url('../img/bg-cites.jpg');
}

.lm-content-block-quote blockquote {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 70px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lm-content-block-quote blockquote > p {
  color: var(--secondary);

  font-family: var(--font-secondary);
  font-size: var(--font-size-six);
  font-style: italic;

  max-width: 800px;
  padding: 0px 0px 30px 0px;
  margin: auto;
}

.lm-content-block-quote blockquote > cite {
  color: var(--secondary);

  font-family: var(--font-secondary);
  font-size: var(--font-size-seven);
  font-style: italic;

  padding: 20px 0px 0px 0px;
}

/* Componente - Lawyes */
.lm-lawyes {
  width: 100%;
  height: 100%;
}
.lm-card-lawyes {
  padding: 70px 0px;
}
.lm-info-lawyes h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-seven);
  letter-spacing: .1rem;

  color: var(--darker);
}
.lm-info-lawyes span {
  display: block;
  text-align: center;
  padding-bottom: 20px !important;
  text-transform: uppercase;
  font-size: var(--font-size-eight);
  letter-spacing: .1rem;

  color: var(--dark-low);
}
.lm-info-lawyes p {
  display: block;
  text-align: center;
} 
.lm-info-lawyes p a {
  color: var(--secondary);
}
.lm-social-icons-cord {
  display: block;
  text-align: center;
}
.lm-social-icons-cord i {
 margin: 20px;
 color: var(--darker);
}
.lm-social-icons-cord i:hover {
  color: var(--secondary);
}

/* Componente - News */
.lm-news {
  width: 100%;
  height: 100%;
  background-color: var(--light-medium);
  padding: 70px 0px;
}

.card {
  box-shadow: 0 0px 0px !important ;
  background-color: transparent !important;
}

.card-content {
  padding: 0 !important;
  margin: 0 !important;
}

.lm-title-info-news > h3{
  font-family: var(--font-secondary);
  color: var(--secondary);
  padding: 30px 0px 20px 0px;
  line-height: 1.8rem;
}
.lm-desc-info-news p {
  font-size: var(--font-size-eight);
  line-height: 1.8rem;
}

