@import '../assets/css/config.css';

/* Lawyes */

.lm-lawyes {
    width: 100%;
    height: 100%;
  }
  .lm-card-lawyes {
    padding: 70px 0px;
  }
  .lm-info-lawyes h4 {
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: var(--font-size-seven);
    letter-spacing: .1rem;

    color: var(--darker);
  }
  .lm-info-lawyes span {
    display: block;
    text-align: center;
    padding-bottom: 20px !important;
    text-transform: uppercase;
    font-size: var(--font-size-eight);
    letter-spacing: .1rem;

    color: var(--dark-low);
  }
  .lm-info-lawyes p {
    display: block;
    text-align: center;
    padding: 0px 15px;
    font-size: var(--font-size-nine);
    color: var(--dark-low);
    line-height: 1.8rem;
  }
  .margim-bottom {
    margin-bottom: 70px;
  }
