@import '../../assets/css/config.css';
.lm-notice {
  width: 100%;
  padding: 10px;
}
.lm-notice-date span {
  color: var(--dark-medium);
  font-size: var(--font-size-nine);
  font-weight: 600;
}
.lm-title-notice h3 {
  color: var(--secondary);
  font-size: var(--font-size-six);
}
.lm-descricao-notice p {
  color: var(--dark-medium);
  font-size: var(--font-size-nine);
}
.lm-btn-main {
  display: block;
  padding: 10px 30px;
  color: var(--light);
  background-color: var(--secondary);
  border: 0px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 70px;
  cursor: pointer;
}

.lm-btn-main:hover {
  transition: .3s;
  background-color: var(--featured);
  color: var(--secondary);
}
